body {
  font-family: Arial;
}

th {
  background-color: lightsteelblue;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}

#color {
  color: crimson;
}
